In [1]:
import pandas as pd
# to calculate numeric calculation

In [28]:
#for visualization purpose
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
def fxn():
    warnings.warn("deprecated", DeprecationWarning)

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    fxn()
# to avoid future warning

In [26]:
df=pd.read_csv("covid.csv")
# imported data, as the csv file are in same folder, no path required

In [27]:
df.head()
#checking the data

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [5]:
df.info()
#info about my data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

In [47]:
#df.drop(columns='State', inplace=True)
# State columns was almost with null value , so droped it.

In [48]:
df.head()

        Date       Region  Confirmed  Deaths  Recovered
0  4/29/2020  Afghanistan       1939      60        252
1  4/29/2020      Albania        766      30        455
2  4/29/2020      Algeria       3848     444       1702
3  4/29/2020      Andorra        743      42        423
4  4/29/2020       Angola         27       2          7

In [19]:
df.count()
# To check number of normal values at each columns

Date         321
Region       321
Confirmed    321
Deaths       321
Recovered    321
dtype: int64

In [22]:
df.isnull().sum()
#To check null values, as I have dropped the state colums so null values are zero :P

Date         0
Region       0
Confirmed    0
Deaths       0
Recovered    0
dtype: int64

Show the number of Confirmed , Deaths and Recovered cases in each Region

In [41]:
df.groupby('Region')['Confirmed', 'Recovered'].sum().head()

             Confirmed  Recovered
Region
Afghanistan       1939        252
Albania            766        455
Algeria           3848       1702
Andorra            743        423
Angola              27          7

 Remove all the records where Confirmed Cases is Less Than 10.

In [42]:
df = df[~(df.Confirmed < 10)] 
# To remove the records satisfying a particular condition

In [50]:
df.head(30)

         Date                  Region  Confirmed  Deaths  Recovered
0   4/29/2020             Afghanistan       1939      60        252
1   4/29/2020                 Albania        766      30        455
2   4/29/2020                 Algeria       3848     444       1702
3   4/29/2020                 Andorra        743      42        423
4   4/29/2020                  Angola         27       2          7
5   4/29/2020     Antigua and Barbuda         24       3         11
6   4/29/2020               Argentina       4285     214       1192
7   4/29/2020                 Armenia       1932      30        900
8   4/29/2020                 Austria      15402     580      12779
9   4/29/2020              Azerbaijan       1766      23       1267
10  4/29/2020                 Bahamas         80      11         23
11  4/29/2020                 Bahrain       2921       8       1455
12  4/29/2020              Bangladesh       7103     163        150
13  4/29/2020                Barbados         80       7         39
14  4/29/2020                 Belarus      13181      84       2072
15  4/29/2020                 Belgium      47859    7501      11283
16  4/29/2020                  Belize         18       2          9
17  4/29/2020                   Benin         64       1         33
19  4/29/2020                 Bolivia       1110      59        117
20  4/29/2020  Bosnia and Herzegovina       1677      65        710
21  4/29/2020                Botswana         23       1          5
22  4/29/2020                  Brazil      79685    5513      34132
23  4/29/2020                  Brunei        138       1        124
24  4/29/2020                Bulgaria       1447      64        243
25  4/29/2020            Burkina Faso        641      43        498
26  4/29/2020                   Burma        150       6         27
27  4/29/2020                 Burundi         11       1          4
28  4/29/2020              Cabo Verde        114       1          2
29  4/29/2020                Cambodia        122       0        119
30  4/29/2020                Cameroon       1832      61        934

In [56]:
df.info()
 
"""records where Confirmed Cases is Less Than 10 
were removed hence info changed . check carefully """

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304 entries, 0 to 320
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       304 non-null    object
 1   Region     304 non-null    object
 2   Confirmed  304 non-null    int64
 3   Deaths     304 non-null    int64
 4   Recovered  304 non-null    int64
dtypes: int64(3), object(2)
memory usage: 14.2+ KB

'records where Confirmed Cases is Less Than 10 \nwere removed hence info changed . check carefully '

In which Region, maximum number of Confirmed cases were recorded ?

In [64]:
df.groupby("Region").Confirmed.sum().sort_values(ascending=False)
#First we have calculated the total confirmed values and shorted them , thus we got the hight pick

Region
US            1039909
Spain          236899
Italy          203591
France         166536
UK             166432
               ...
Seychelles         11
Burundi            11
Suriname           10
Gambia             10
Holy See           10
Name: Confirmed, Length: 180, dtype: int64

In which Region, minimum number of Deaths cases were recorded ?

In [65]:
df.groupby("Region").Confirmed.sum().sort_values(ascending= True)

Region
Suriname           10
Gambia             10
Holy See           10
Burundi            11
Seychelles         11
               ...
UK             166432
France         166536
Italy          203591
Spain          236899
US            1039909
Name: Confirmed, Length: 180, dtype: int64

 How many Confirmed , Deaths & Recovered cases were reported from India till 29 April 2020

In [68]:
df.head(2)

        Date       Region  Confirmed  Deaths  Recovered
0  4/29/2020  Afghanistan       1939      60        252
1  4/29/2020      Albania        766      30        455

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304 entries, 0 to 320
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       304 non-null    object
 1   Region     304 non-null    object
 2   Confirmed  304 non-null    int64
 3   Deaths     304 non-null    int64
 4   Recovered  304 non-null    int64
dtypes: int64(3), object(2)
memory usage: 14.2+ KB

In [73]:
df[df.Region == "India"]

         Date Region  Confirmed  Deaths  Recovered
74  4/29/2020  India      33062    1079       8437

In [74]:
df[df.Region == "Bangladesh"]

         Date      Region  Confirmed  Deaths  Recovered
12  4/29/2020  Bangladesh       7103     163        150

In [81]:
df[df.Region == "US"]
#Total in next code

          Date Region  Confirmed  Deaths  Recovered
181  4/29/2020     US       6912     256          0
182  4/29/2020     US        355       9          0
186  4/29/2020     US       7209     308          0
187  4/29/2020     US       3193      57          0
195  4/29/2020     US      48747    1946          0
199  4/29/2020     US      14758     766          0
200  4/29/2020     US      26767    2169          0
202  4/29/2020     US       4655     144          0
204  4/29/2020     US         49       0          0
205  4/29/2020     US       4106     205          0
208  4/29/2020     US      33193    1218          0
213  4/29/2020     US      25775    1101          0
216  4/29/2020     US        103       3          0
219  4/29/2020     US        141       5          0
224  4/29/2020     US        613      16          0
231  4/29/2020     US       1952      60          0
232  4/29/2020     US      50358    2215          0
233  4/29/2020     US      17182     964          0
235  4/29/2020     US       6843     148          0
240  4/29/2020     US       3839     134          0
241  4/29/2020     US       4537     234          0
243  4/29/2020     US      27660    1845          0
245  4/29/2020     US       1056      52          0
248  4/29/2020     US      20849    1078          0
249  4/29/2020     US      60265    3405          0
251  4/29/2020     US      40399    3670          0
252  4/29/2020     US       4644     319          0
253  4/29/2020     US       6569     250          0
254  4/29/2020     US       7660     338          0
255  4/29/2020     US        451      16          0
257  4/29/2020     US       3851      56          0
258  4/29/2020     US       4934     230          0
261  4/29/2020     US       2058      60          0
262  4/29/2020     US     116365    6771          0
263  4/29/2020     US       3213     112          0
265  4/29/2020     US     299691   23477          0
268  4/29/2020     US      10180     382          0
269  4/29/2020     US       1033      19          0
270  4/29/2020     US         14       2          0
274  4/29/2020     US      17303     937          0
275  4/29/2020     US       3473     214          0
277  4/29/2020     US       2446     101          0
278  4/29/2020     US      46327    2373          0
280  4/29/2020     US       1433      86          0
287  4/29/2020     US       8247     251          0
298  4/29/2020     US       5882     231          0
299  4/29/2020     US       2373      13          0
302  4/29/2020     US      10366     195          0
303  4/29/2020     US      27257     754          0
307  4/29/2020     US       4497      45          0
308  4/29/2020     US        862      47          0
310  4/29/2020     US         57       4          0
311  4/29/2020     US      14962     522          0
312  4/29/2020     US      14070     801          0
313  4/29/2020     US       1110      38          0
315  4/29/2020     US       6520     308          0
316  4/29/2020     US        545       7          0

In [82]:
df[df.Region == "US"].Confirmed.sum()

1039909

Sort the entire data wrt No. of Recovered cases in descending order.

In [84]:
df.sort_values( by = ['Recovered'] , ascending = False).head(50)

          Date                Region  Confirmed  Deaths  Recovered
153  4/29/2020                 Spain     236899   24275     132929
61   4/29/2020               Germany     161539    6467     120400
76   4/29/2020                  Iran      93657    5957      73791
80   4/29/2020                 Italy     203591   27682      71252
229  4/29/2020        Mainland China      68128    4512      63616
57   4/29/2020                France     165093   24087      48228
167  4/29/2020                Turkey     117589    3081      44040
22   4/29/2020                Brazil      79685    5513      34132
158  4/29/2020           Switzerland      29407    1716      22600
78   4/29/2020               Ireland      20253    1190      13386
8    4/29/2020               Austria      15402     580      12779
107  4/29/2020                Mexico      17799    1732      11423
15   4/29/2020               Belgium      47859    7501      11283
134  4/29/2020                Russia      99399     972      10286
128  4/29/2020                  Peru      33931     943      10037
151  4/29/2020           South Korea      10765     247       9059
74   4/29/2020                 India      33062    1079       8437
79   4/29/2020                Israel      15834     215       8233
33   4/29/2020                 Chile      14885     216       8057
42   4/29/2020               Denmark       9008     443       6366
101  4/29/2020              Malaysia       5945     100       4087
133  4/29/2020               Romania      11978     693       3569
124  4/29/2020              Pakistan      15525     343       3425
97   4/29/2020            Luxembourg       3769      89       3134
41   4/29/2020        Czech Republic       7579     227       3108
130  4/29/2020                Poland      12640     624       3025
141  4/29/2020          Saudi Arabia      21402     157       2953
56   4/29/2020               Finland       4906     206       2800
162  4/29/2020              Thailand       2947      54       2665
83   4/29/2020                 Japan      13895     413       2368
171  4/29/2020  United Arab Emirates      11929      98       2329
264  4/29/2020             Australia       3016      40       2284
150  4/29/2020          South Africa       5350     103       2073
14   4/29/2020               Belarus      13181      84       2072
2    4/29/2020               Algeria       3848     444       1702
73   4/29/2020               Iceland       1797      10       1656
47   4/29/2020               Ecuador      24675     883       1557
220  4/29/2020        Mainland China       1588       8       1557
131  4/29/2020              Portugal      24505     973       1470
11   4/29/2020               Bahrain       2921       8       1455
34   4/29/2020              Colombia       6207     278       1411
75   4/29/2020             Indonesia       9771     784       1391
88   4/29/2020                Kuwait       3740      24       1389
77   4/29/2020                  Iraq       2003      92       1346
48   4/29/2020                 Egypt       5268     380       1335
309  4/29/2020             Australia       1361      18       1291
38   4/29/2020               Croatia       2062      67       1288
9    4/29/2020            Azerbaijan       1766      23       1267
320  4/29/2020        Mainland China       1268       1       1263
227  4/29/2020        Mainland China       1276      22       1254

Sort the entire data wrt No. of Confirmed cases in ascending order.

In [86]:
df.sort_values( by = ['Confirmed'] , ascending = True).head(50)

          Date                            Region  Confirmed  Deaths  Recovered
156  4/29/2020                          Suriname         10       1          8
70   4/29/2020                          Holy See         10       0          2
59   4/29/2020                            Gambia         10       1          8
318  4/29/2020                            Canada         11       0          0
217  4/29/2020                           Denmark         11       0         11
256  4/29/2020                                UK         11       1          2
144  4/29/2020                        Seychelles         11       0          6
27   4/29/2020                           Burundi         11       1          4
306  4/29/2020                                UK         12       1          5
118  4/29/2020                         Nicaragua         13       3          7
215  4/29/2020                            Canada         13       0          0
206  4/29/2020                                UK         13       0         11
270  4/29/2020                                US         14       2          0
136  4/29/2020             Saint Kitts and Nevis         15       0          4
138  4/29/2020  Saint Vincent and the Grenadines         16       0          8
45   4/29/2020                          Dominica         16       0         13
201  4/29/2020                       Netherlands         16       1         13
114  4/29/2020                           Namibia         16       0          8
137  4/29/2020                       Saint Lucia         17       0         15
260  4/29/2020                            France         18       0         17
16   4/29/2020                            Belize         18       2          9
55   4/29/2020                              Fiji         18       0         12
281  4/29/2020                    Mainland China         18       0         18
90   4/29/2020                              Laos         19       0          7
64   4/29/2020                           Grenada         20       0         13
21   4/29/2020                          Botswana         23       1          5
5    4/29/2020               Antigua and Barbuda         24       3         11
163  4/29/2020                       Timor-Leste         24       0          6
279  4/29/2020                            Canada         27       0          0
4    4/29/2020                            Angola         27       2          7
271  4/29/2020                         Australia         28       0         25
180  4/29/2020                          Zimbabwe         32       4          5
152  4/29/2020                       South Sudan         34       0          0
100  4/29/2020                            Malawi         36       3          7
300  4/29/2020                            France         38       3         24
110  4/29/2020                          Mongolia         38       0         10
51   4/29/2020                           Eritrea         39       0         19
159  4/29/2020                             Syria         43       3         21
244  4/29/2020                             Macau         45       0         34
204  4/29/2020                                US         49       0          0
31   4/29/2020          Central African Republic         50       0         10
32   4/29/2020                              Chad         52       2         19
310  4/29/2020                                US         57       4          0
115  4/29/2020                             Nepal         57       0         16
210  4/29/2020                            France         58       0         50
94   4/29/2020                             Libya         61       2         18
17   4/29/2020                             Benin         64       1         33
196  4/29/2020                                UK         73       1         10
296  4/29/2020                       Netherlands         75      13         33
267  4/29/2020                    Mainland China         75       0         75